@media (max-width: 1008px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 880px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-form__name,
  .contact-form__email {
    grid-column: 1/-1;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }

  .contact-form__card {
    padding: 4.8rem 2.4rem;
  }
}

@media (max-width: 605px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-about {
    padding: 9.6rem 4.8rem 6.4rem 4.8rem;
  }

  .section-tools,
  .section-projects,
  .section-contact,
  .section-contact {
    padding: 8rem 4.8rem;
  }

  .contact-form__card {
    padding: 4.8rem 1.6rem;
  }

  .mobile-nav_btn {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .main-nav__list {
    flex-direction: column;
    align-items: center;
  }

  .site-options {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .hero-logo {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .hero-logo__text {
    grid-row: 2;
  }
  .hero-logo__boxes {
    grid-row: 1;
  }

  .hero-logo__text,
  .hero-logo__boxes {
    justify-self: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 42.5%;
  }
}
