.publications {
  padding: 10rem 48rem 4.8rem 48rem;
}

.paper-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.paper p {
  margin-bottom: 0.6rem;
}

.paper-title {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.paper-authors,
.paper-publication {
  font-size: 1.4rem;
}

.paper-journal {
  font-style: italic;
}

.paper-links {
  display: flex;
  gap: 1.2rem;
  margin-top: 0.4rem;
}

.paper-link {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--logo-blue-2);
  transition: all 0.3s;
}

.ai-pubmed {
  font-size: 2.2rem;
}

.paper-link:hover,
.paper-link:active {
  color: var(--logo-blue-1);
  transform: scale(1.1);
}

.paper-link:link,
.paper-link:visited {
  text-decoration: none;
}
