.footer {
  min-height: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  user-select: none;
}

.social-media__icon {
  font-size: 1.8rem;
  padding: 0.8rem;
  color: var(--dark-gray);
  cursor: pointer;
}

.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.social-media__icon {
  font-size: 2rem;
  cursor: pointer;
  color: var(--medium-gray);
  transition: all 0.3s;
}

.social-media__icon--lang {
  display: block;
  font-size: 1.8rem;
}

.social-media__icon:hover,
.social-media__icon:active {
  color: var(--logo-blue-2);
  transform: scale(1.1);
}

.copyright {
  color: var(--medium-gray);
  font-size: 1rem;
  padding-bottom: 0.8rem;
}
