:root {
  --logo-blue-1: #202859;
  --logo-blue-2: #2d4f6c;
  --logo-blue-3: #3d6991;
  --logo-blue-4: #4d7da6;
  --light-blue: #d8e1e9;
  --lightest-blue: #ecf0f4;
  --dark-gray: #444;
  --medium-gray: #555;
  --light-gray: #777;
  --black: #000;
  --white: #f8f9fa;
  --gradient-color-1: rgba(216, 225, 233, 0.6);
  --gradient-color-2: rgba(45, 79, 108, 0.6);
}

/* Reset -------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* General ------------------------------------------------------------------ */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--medium-gray);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;
}

main {
  overflow: scroll;
}

h2,
h3 {
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--dark-gray);
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.subheading {
  display: block;
  color: var(--dark-gray);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.text {
  color: var(--medium-gray);
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.text:last-child {
  margin-bottom: 0;
}

.link {
  position: relative;
}

.link:link,
.link:visited {
  text-decoration: none;
  /* TODO: change the color to improve accessibility */
  color: var(--logo-blue-4);
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--logo-blue-4);
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.monospaced {
  font-family: "Roboto Mono", monospace;
}

.semi-bold {
  font-weight: 600;
}

/* Header ------------------------------------------------------------------- */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
  align-items: center;
  background-color: var(--lightest-blue);

  padding: 3.2rem;
  position: relative;

  border-right: 1px solid var(--light-blue);
}

.logo {
  height: 4rem;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.site-options,
.social-media {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.options-icon,
.social-media-icon {
  font-size: 2rem;
  cursor: pointer;
  color: var(--medium-gray);
  transition: all 0.3s;
}

.options-icon:hover,
.options-icon:active,
.social-media-icon:hover,
.social-media-icon:active {
  color: var(--logo-blue-2);
  transform: scale(1.1);
}

.social-media-link:link,
.social-media-link:visited {
  text-decoration: none;
}

.main-nav {
  padding: 3.6rem 0;
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
  width: 80%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  grid-column: 1;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.main-nav-link {
  position: relative;
}

.main-nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--logo-blue-2);
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.main-nav-link:hover::before {
  transform: scaleX(1);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--logo-blue-2);
}

.copyright:last-child {
  color: var(--medium-gray);
  font-size: 1rem;
  margin-top: auto;
}

/* Hero section ------------------------------------------------------------- */

.section-hero {
  padding: 9.6rem 0;
  background-color: var(--lightest-blue);
}

.hero {
  max-width: 130rem;
  margin: 5.2rem auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.8rem;
}

.hero-logo--text {
  font-family: "Bebas Neue", cursive !important;
  user-select: none;
  color: var(--black);
  font-size: 14rem;
  line-height: 0.8;
  letter-spacing: -1rem;
  justify-self: end;
  margin-bottom: -1.6rem;
}

.logo-text-letter {
  display: inline-block;
  transition: 0.3s;
}

.logo-text-letter:hover {
  transform: scale(1.1);
}

.hero-logo--boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  justify-self: start;
}

.hero-logo--box {
  height: 6rem;
  width: 6rem;
  transition: all 0.4s;
}

.hero-logo--box:hover {
  transform: scale(1.1);
}

.box--col1 {
  background-color: var(--logo-blue-1);
  grid-column: 1;
}
.box--col2 {
  background-color: var(--logo-blue-2);
  grid-column: 2;
}

.box--col3 {
  background-color: var(--logo-blue-3);
  grid-column: 3;
}

.box--col4 {
  background-color: var(--logo-blue-4);
  grid-column: 4;
}

.box--row1 {
  grid-row: 1;
}

.box--row2 {
  grid-row: 2;
}

.box--row3 {
  grid-row: 3;
}

.box--row4 {
  grid-row: 4;
}

/* About section ------------------------------------------------------------- */

.section-about {
  padding: 9.6rem 25.6rem 12.8rem 25.6rem;
}

/* Tools and skills section -------------------------------------------------- */

.section-tools {
  padding: 0 25.6rem 12.8rem 25.6rem;
}

.tools-card {
  padding: 4.8rem 3.2rem;
  background-color: var(--lightest-blue);
  border-radius: 1rem;
  box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.075);
}

.tools-container {
  display: flex;
  flex-direction: column;
}

.tools-category {
  padding: 1.6rem 0 3.2rem 0;
}

.tools-category:last-child {
  padding-bottom: 0;
}

.tools-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid var(--logo-blue-1);
  border-radius: 0.4rem;
}

.tool-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.tool-name {
  font-size: 1.4rem;
  color: var(--dark-gray);
  user-select: none;
}

.tool {
  transition: all 0.15s;
}

.tool:hover {
  transform: scale(1.05);
}

.tool-icon path {
  fill: var(--logo-blue-1);
}

/* Projects section --------------------------------------------------------- */

.section-projects {
  padding: 0 25.6rem 12.8rem 25.6rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 1.6rem 1.6rem 4.8rem 1.6rem;
  align-items: stretch;
  justify-items: center;
}

.project-item {
  padding: 4.8rem;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 3.2rem 0 rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}

.project-img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.new-project {
  padding: 3.2rem;
}

.new-project-txt {
  font-size: 1.4rem;
  line-height: 1.2;
}

.project-description {
  position: absolute;
  opacity: 0;
  padding: 2.4rem;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.new-project-description-txt {
  font-size: 1.6rem !important;
  line-height: 1.2 !important;
}

.project-description-txt {
  font-size: 1.4rem;
  color: var(--white);
}

.project-description-tags {
  display: flex;
  gap: 0.8rem;
  padding-top: 1.2rem;
}

.project-description-tag {
  background-color: var(--lightest-blue);
  font-size: 1.4rem;
  color: var(--dark-gray);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.project-item:hover .project-img {
  filter: blur(5px);
}

.project-item:hover .new-project-txt {
  filter: blur(5px);
}

.project-item:hover .project-description {
  opacity: 1;
  z-index: 99;
}

.project-item::after {
  content: "";
  background: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 65%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  opacity: 0;
  transition: all 0.5s;
}

.project-item:hover::after {
  opacity: 1;
}
